@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  position: relative;
}
.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: red;
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
}
.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
  left: 0;
  background: red;
}
